<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.github.jackett.jackett</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/mono</string>
      <string>/Applications/Jackett.app/JackettConsole.exe</string>
      <string>--NoRestart</string>
      <string>--ListenPrivate</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/jackett.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/jackett.log</string>
    <key>WorkingDirectory</key>
    <string>/Applications/Jackett.app/</string>
  </dict>
</plist>
