<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.deluge-torrent.deluged</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Applications/Deluge.app/Contents/MacOS/deluged</string>
      <string>-d</string>
      <string>-L</string>
      <string>info</string>
      <string>-l</string>
      <string>/usr/local/var/log/deluged.log</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>
